<form action="/stories/vote/{{_id}}" method="POST">
  <input type="radio" name="vote" id="vote" value="up">Upvote
  <input type="radio" name="vote" value="down">Downvote<br />
  <input type="submit" value="Vote">
</form>
<h2>Score: {{score}}</h2>
<h2>Title: {{title}}</h2>
<p>Story: {{content}}</p>
<p>Author: <a href="/users/{{this.author._id}}">{{this.author.username}}</a></p>
<a href="/users/{{this.author._id}}"><img src="{{this.author.avatar}}" alt="Avatar of {{this.author.username}}" width="100" height="100"></a>
<p>Time & Date: {{createdAt}}</p>
<br/>
<h2>Dice:</h2>
<ul>
{{#each dice}}
<img src="{{this.icon}}" alt="Picture of {{this.name}}" height="25" width="25" class="bg-white">
{{/each}}
</ul>