{{>navbar}}
<section class="login-container">
  <img class="update-img-one img-one" src="/images/circ-mas-rallitas-dos.svg" alt="">
  <form class="login-form" action="/stories/create" method="POST">
    <h2>CREATE STORY</h2>
    
    <!-- Dice thrower -->
    <div>
      {{#each dice}}
      <img src="{{this.icon}}" alt="Picture of {{this.name}}" width="25" height="25"  class="bg-white">
      <input type="hidden" name="dice{{@index}}" value="{{this._id}}">
      {{/each}}
    </div>
    <div class="inp-lab-change inp-lab">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Story title">
    </div>
    <div class="inp-lab-change inp-lab">
      <label for="content">Story</label>
      <textarea name="content" id="content" placeholder="Your story goes here..."></textarea>
    </div>
    <div class="check-container">
      <div class="inp-lab-change inp-lab">
        <label for="reserved">Private?</label>
        <div>
            <label class="container">
                <input id="reserved" type="radio" name="reserved" value="true" checked>
                <span class="checkmark">Yes</span>
            </label>
            <label class="container">
                <input type="radio" name="reserved" value="false">
                <span class="checkmark">No</span>
            </label>  
        </div>
      </div>
      <div class="inp-lab-change inp-lab">
        <label for="restricted">Adults only?</label>
        <div>
            <label class="container">
                <input id="restricted" type="radio" name="restricted" value="true" checked>
                <span class="checkmark">Yes</span>
            </label>
            <label class="container">
                <input type="radio" name="restricted" value="false">
                <span class="checkmark">No</span>
            </label>  
        </div>
      </div>




    </div>
    
    
    <div class="btn-form-container">
      <img class="img-three" src="/images/flecha-dos.svg" alt="">
      <button class="update-btn" type="submit">Create!</button>
      <img class="img-two" src="/images/flecha-uno.svg" alt="">
    </div>
    
  </form>

<p>{{error}}</p>
</section>
