{{>navbar}}
<section class="login-container">
  <img class="update-img-one img-one" src="/images/circ-mas-rallitas-dos.svg" alt=""> 
  
  <form class="change-avatar login-form" action="/users/change-avatar" method="POST" enctype="multipart/form-data">
    <h2>CHANGE AVATAR</h2>
    <div class="ch-avatar-cont">
      <img src="{{user.avatar}}" alt="Avatar of {{user.name}} {{user.lastName}}">
    </div>
    
    <div class="inp-lab-change inp-lab">
      <input class="inputfile" id="avatar" type="file" name="avatar" autocomplete="photo">
      <label class="update-a" for="avatar">Choose your Avatar</label>
      <a class="update-a" href="/users/delete-avatar/{{user._id}}">Delete Avatar</a>
    </div>
    
    <div class="btn-form-container">
      <img class="img-three" src="/images/flecha-dos.svg" alt="">
      <button class="update-btn" type="submit">Update</button>
      <img class="img-two" src="/images/flecha-uno.svg" alt="">
    </div>
  </form>
  <p>{{error}}</p>
   <div>
    <img src="/images/ranbow.svg" alt="">
  </div>
</section>