<h1>UPDATE PROFILE</h1>
<form action="/users/update" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{user.name}}">
  <br />
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" value="{{user.lastName}}">
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" value="{{user.email}}">
  <br />
  <label for="birthday">Date of Birth</label>
  <input type="date" name="birthday" value="{{birthday}}">
  <br />
  <label for="username">Username</label>
  <input type="text" name="username" value="{{user.username}}">
  <br />
  <img src="{{user.avatar}}" alt="Avatar of {{user.name}} {{user.lastName}}" height="300" width="300">
  <br/>
  <a href="/users/delete-avatar/{{user._id}}">Delete Avatar</a> <!-- TODO: Create this route -->
  <a href="/users/change-avatar/">Change Avatar</a> <!-- TODO: Create this route -->
  <br/>
  <a href="/auth/change-password">Change my password</a><!-- TODO: Create this route -->
  <br/>
  <input type="submit" value="Update">
</form>
<p>{{error}}</p>
<a href="/">Back...</a>